@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Расписание ЕАСИ</h2>
<div class="student col-xs-12 col-md-12">
    <h3>Студентам</h3>

    @using (Html.BeginForm("Index", "Group", FormMethod.Get, new { @class = "form-inline", role = "form", id="onlyGroup" }))
    {
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <input class="btn btn-default " type="submit" value="Перейти" />
                </span>
                <input
                       class="form-control text-box single-line" 
                       type="text" 
                       id="id" 
                       required 
                       name="id" 
                       placeholder="Введите номер группы..."
                       pattern="[0-9]{3}-[А-Яа-яЁё]{2}"
                       title="Введите номер группы в формате 421-ТУ"
                       data-autocomplete-source='@Url.Action("AutocompleteSearchGroup", "Schedule")' />
            </div>
        </div>
    }

    <p><dfn>Например: 421-ТУ </dfn></p>
</div>

<br />
<br />

<div class="lecturer col-xs-12 col-md-12">
    <h3>Преподавателям</h3>
    @using (Html.BeginForm("Index", "Lecturer", FormMethod.Get, new { @class = "form-inline", role = "form", id = "onlyGroup3" }))
    {
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <input class="btn btn-default " type="submit" value="Перейти" />
                </span>
                <input 
                       class="form-control text-box single-line" 
                       id="id" 
                       name="id" 
                       required placeholder="Введите ФИО..." 
                       type="text" 
                       pattern="([А-ЯЁ][а-яё]+[\-\s]?){3,}"
                       title="Введите привильное ФИО..."
                       data-autocomplete-source='@Url.Action("AutocompleteSearchLecturer", "Schedule")' />
            </div>
        </div>
    }
    <p><dfn>Например: Кошелев Виктор Григорьевич </dfn></p>
</div>


<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({
                source: target.attr("data-autocomplete-source")
            });
        });
    });

    var show;
    function hidetxt(type) {
        param = document.getElementById(type);
        if (param.style.display == "none") {
            if (show) show.style.display = "none";
            param.style.display = "block";
            show = param;
        } else param.style.display = "none"
    }

    $("#onlyGroup").removeAttr("novalidate");
    $("#onlyGroup2").removeAttr("novalidate");
    $("#onlyGroup3").removeAttr("novalidate");
    $("#onlyGroup4").removeAttr("novalidate");


</script>
