
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Расписание ЕАСИ</h2>

<h3>Студентам</h3>
@using (Html.BeginForm("Index", "Group", FormMethod.Get, new { @class = "form-inline", role = "form" }))
{
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <input class="btn btn-default " type="submit" value="Перейти" />
            </span>
            @Html.TextBox("id", "", new { @class = "form-control", placeholder = "Введите группу...", list = "group_list" })
            <datalist id="group_list">
                <option value="121">ТУ</option>
                <option value="221">ТУ</option>
                <option value="131">ТУ</option>
                <option value="132">ТУC</option>
                <option value="321">ТУ</option>
                <option value="421">ТУ</option>
                <option value="231">ТУ</option>
                <option value="232">ТУC</option>
                <option value="331">ТУ</option>
                <option value="332">ТУC</option>
                <option value="431">ТУ</option>
                <option value="531">ТУ</option>
                <option value="122">КЖ</option>
                <option value="222">КЖ</option>
                <option value="322">КЖ</option>
                <option value="422">КЖ</option>
                <option value="123">ВК</option>
                <option value="223">ВК</option>
                <option value="323">ВК</option>
                <option value="423">ВК</option>
                <option value="502">ВК</option>
                <option value="124">ТН</option>
                <option value="224">ТН</option>
                <option value="125">ПИ</option>
                <option value="225">ПИ</option>
                <option value="325">ПИ</option>
                <option value="425">ПИ</option>
                <option value="533">ПИ</option>
            </datalist>
        </div>
     </div>
}
<p><dfn>Например: 421 </dfn></p>
     <br />
     <hr />
     <br />

<h3>Преподавателям</h3>
@using (Html.BeginForm("Index", "Lecturer", FormMethod.Get, new { @class = "form-inline", role = "form" }))
{
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <input class="btn btn-default " type="submit" value="Перейти" />
            </span>
            <input class="form-control text-box single-line" data-val="true" id="lec" name="lec" placeholder="Введите ФИО..." type="text" data-autocomplete-source='@Url.Action("AutocompleteSearchLecturer", "Schedule")' />
        </div>
    </div>
}
<p><dfn>Например: Кошелев Виктор Григорьевич </dfn></p>
<hr /> 

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({
                source: target.attr("data-autocomplete-source")
            });
        });
    });
</script>